.case-study-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	@include respond-to('lg') {
		justify-content: flex-start;
	}
}


.case-studies-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*-- CASE STUDY CARD (SMALL) --*/

$sm-height: 100%;
$sm-width: 100%;

.case-study-card-small {
	height: 200px;
	flex-basis: 100%; 
	position: relative;
	margin: 1rem 0;
	@include respond-to('lg') {
		flex-basis: 30%; 
		margin: 0 1rem 2rem 1rem;
	}
	@include respond-to('xxl') {
		height: 300px;
	}
}

.csc-small-filter {
	height: $sm-height;
	width: $sm-width;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;	
	padding: 2rem 1rem;
	font-size: 1rem;
	text-align: left;
	p {
		margin-bottom: 0.5rem;
		line-height: 1.5em;
	}
	
	.cs-card-arrow {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
} 

.csc-small-img {
	height: $sm-height;
	width: $sm-width;
	background-size: cover;
}

.cs-small-title {
	@include _poppins-semibold;
}

.cs-small-excerpt {
	max-height: 50px;
    overflow: hidden;
    @include respond-to('xxl') {
	    max-height: 121px;
    }
}

/*-- CASE STUDY CARD (LARGE) --*/

$lg-height: 100%;
$lg-width: 100%;

.case-study-card-large {
	height: 300px;
	position: relative;
	margin: 0 0 1rem 0;
	@include respond-to('xxl') {
		height: 400px;
	}
}

.csc-large-filter {
	display: flex;
	height: $sm-height;
	width: $sm-width;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;	
	padding: 3rem 2rem;
	font-size: 1rem;
	text-align: left;
	justify-content: space-between;
	flex-direction: column;
	@include respond-to('lg') {
		background-color: none;
		background: linear-gradient(90deg, rgba(0,0,0,0.5032212714187237) 47%, rgba(255,255,255,0) 100%); 
	}
	
	a {
		color: white;
		@include _fira-sans-semibold;
	}
	
	p {
		margin-bottom: 0.5rem;
		line-height: 1.5em;
	}
	
	.blue-btn {
		align-self: flex-start;
	}
} 

.cs-large-info {
	margin-left: 1rem;
}

.cs-large-excerpt {
	width: 100%;
	@include respond-to('lg') {
		width: 70%;
	}
}

.csc-large-img {
	height: $lg-height;
	width: $lg-width;
	background-size: cover;
}

.cs-large-title {
	@include _poppins-semibold;
}
