.case-study-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*-- CASE STUDY CARD (SMALL) --*/

$sm-height: 100%;
$sm-width: 100%;

.case-study-card-small {
	height: 200px;
	flex-basis: 100%; 
	position: relative;
	margin: 1rem 0;
	@include respond-to('lg') {
		flex-basis: 30%; 
		margin: 0;
	}
}

.csc-small-filter {
	height: $sm-height;
	width: $sm-width;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;	
	padding: 2rem 1rem;
	font-size: 1rem;
	text-align: left;
	p {
		margin-bottom: 0.5rem;
		line-height: 1.5em;
	}
	
	.cs-card-arrow {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
} 

.cs-small-excerpt {
	
}

.csc-small-img {
	height: $sm-height;
	width: $sm-width;
	background-size: cover;
}

.cs-small-title {
	@include _poppins-semibold;
}

/*-- CASE STUDY CARD (LARGE) --*/