// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$dark-teal: #005557;
$teal: #2a8286;
$light-teal: #f5feff;

$yellow: #ECC703;

// Alternative yellow: #ECC703

$red: #ff4f60;

$purple: #723f95;

$light-grey: #f5f5f5;
$dark-grey: #84919b;

$light-blue: #48c7f5;

$primary: $teal; // Thats a sample how you could change a BootStrap variable.