@font-face {
    font-family: 'fira-sans-thin';
    src: url('../fonts/FiraSans-Thin.ttf');
}

@font-face {
    font-family: 'fira-sans-regular';
    src: url('../fonts/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'fira-sans-medium';
    src: url('../fonts/FiraSans-Medium.ttf');
}

@font-face {
    font-family: 'fira-sans-semibold';
    src: url('../fonts/FiraSans-SemiBold.ttf');
}

@font-face {
    font-family: 'fira-sans-bold';
    src: url('../fonts/FiraSans-Bold.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}