// Quote
@mixin quote ($fb)
{
	flex-basis: $fb;
	display: flex;
	flex-direction: column;
	
	p {
		@include _fira-sans-regular;
		font-size: 1.7rem;
		text-align: center;
		line-height: 1.5em;
		@include respond-to('lg') {
			text-align: left;
		}
	}
}