// Quote
@mixin quote
{
	@include _fira-sans-light;
	font-style: italic;
	font-size: 28px;
	text-align: center;
	line-height: 1.5em;
	
	@include respond-to('lg') {
		text-align: left;
	}
	
}

@mixin speechmarks {
	&:before {
		content: '\201C';
	    position: absolute;
	    margin-left: -.5em;
	}
	&:after {
		content: '\201D';
	    position: absolute;
	    margin-right: -.5em;
	}
}

// Icon
@mixin icon-image($icon-height, $icon-width) {
	img {
		margin: 1rem 1rem 2rem 1rem;
		height: $icon-height;
		width: $icon-width;
		object-fit: contain;
		object-position: center;
	}	
}