@mixin _fira-sans-thin {
	font-family: 'fira-sans-thin';
}

@mixin _fira-sans-regular {
	font-family: 'fira-sans-regular';
}

@mixin _fira-sans-medium {
	font-family: 'fira-sans-medium';	
}

@mixin _fira-sans-semibold {
	font-family: 'fira-sans-semibold';	
}

@mixin _fira-sans-bold {
	font-family: 'fira-sans-bold';	
}

@mixin _poppins-semibold {
	font-family: 'poppins-semibold';	
}

p, p > a, span, cite, li {
	@include _fira-sans-regular;
}

h1 {
	@include _fira-sans-bold;
	margin-bottom: 1.5rem;
}

h2, h3 {
	@include _fira-sans-semibold;
	margin-bottom: 1.5rem;
}