@mixin _fira-sans-light {
	font-family: 'fira-sans-light';
}

@mixin _fira-sans-regular {
	font-family: 'fira-sans-regular';
}

@mixin _fira-sans-medium {
	font-family: 'fira-sans-medium';	
}

@mixin _fira-sans-semibold {
	font-family: 'fira-sans-semibold';	
}

@mixin _fira-sans-bold {
	font-family: 'fira-sans-bold';	
}

@mixin _poppins-regular {
	font-family: 'poppins-regular';	
}

@mixin _poppins-semibold {
	font-family: 'poppins-semibold';	
}

* {
	@include _fira-sans-regular;
}

p, p > a, span, cite, li {
	@include _fira-sans-regular;
	font-size: 18px;
	line-height: 2rem;
	@include respond-to('xxl') {
		font-size: 21px;
	}
}

strong {
	@include _fira-sans-medium;
	font-size: 18px;
	@include respond-to('xxl') {
		font-size: 21px;
	}	
}

a {
	@include _fira-sans-regular;
}

h1 {
	@include _fira-sans-medium;
	margin-bottom: 1.5rem;
	font-size: 38px;
}

h2 {
	@include _fira-sans-medium;
	margin-bottom: 1.5rem;
	font-size: 34px;
}

h3 {
	@include _fira-sans-medium;
	margin-bottom: 1rem;
	font-size: 22px;
}