.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	flex-wrap: wrap;
	@include respond-to('lg') {
		flex-direction: row;
		padding: 4rem 0;
	}
}

.footer-left {
	display: flex;
	flex-direction: column;
	padding: 0 0 2rem 0;
	flex-basis: 100%;
	
	@include respond-to('lg') {
		padding: 0 2rem;
		flex-basis: 50%
	}
	
	#footer-logo {
		padding: 1rem 0;
		width: 250px;
	}
	
	#email, #tel {
		font-size: 1.5rem;
	}
	
	#copyright {
		margin: 1rem 0;
		font-size: 15px;
	}
}

.footer-right {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 100%;
	padding-right: 1rem;
	
	@include respond-to('lg') {
		flex-basis: 50%;
	}
	
	.menu {
		max-width: 200px;
	}
	
	#menu-footer-menu, ul {
		list-style: none;
		padding: 0;
		li {
			padding: 0.5rem 0;
			line-height: 1.5rem;
		}
	}
		
	.footer-products, .footer-company {
		flex-basis: 45%;
		padding: 0;
		@include respond-to('lg') {
			flex-basis: 33%;
			padding-left: 3rem;
		}
	}
	
	.footer-contact {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 100%;
		padding: 0;
		margin-top: 2rem;
		justify-content: space-between;
		
		@include respond-to('lg') {
			flex-direction: column;
			flex-basis: 33%;
			padding-left: 3rem;
			margin-top: 0;
		}
		
		.contact-left {
			flex-basis: 45%;
		}
		
		.footer-social-media {
			.menu-contact-menu-container {
				#menu-contact-menu {
					margin: 0;
				}				
			}

			.sm-icons {
				display: flex;
				align-items: flex-end;
			}
			a {
				display: flex;
				img {
					width: 30px;
					margin-right: 2rem;
				}
			}
		}
	}
	
	#footer-address {
		@include _fira-sans-regular;
		margin: 1rem 0;
		flex-basis: 45%;
		font-size: 13px;
	}
}