@mixin btn-arrow {
	background-image: url('../assets/icons/btn-arrow-white.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
    display: inline-flex;
    width: 20px; 
    height: 20px;
    content: "";
    margin-left: 7px;
}

@mixin btn {
	padding: 1.5rem 1.5rem;
	border-radius: 5px;
	margin: 0 1rem;
	align-self: center;
	height: 40px;
	color: white;
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	
	@include respond-to('xxl') {
		font-size: 21px;
	}
	
	&:after {
		@include btn-arrow;
	}
	
	&:hover {
		background-color: $dark-teal;
		color: $light-grey;
	}
	
	&.login {
		background-color: white;
		color: $teal;
		margin-right: 0;
		&:after {
			@include btn-arrow;
			background-image: url('../assets/icons/btn-arrow-teal.svg');
			@include respond-to('md') {
				@include btn-arrow;
				background-image: url('../assets/icons/login-icon.svg');
			}
		}
		
		&:hover {
			background-color: $light-grey;
		}
		
		&.red {
			background-color: $red;
			color: white;
			&:after {
				filter: invert(1) brightness(2);
			}
		}
		
		&.purple {
			background-color: $purple;
			color: white;
			&:after {
				filter: invert(1) brightness(2);
			}			
		}
	}
}

.btn {
	@include btn;
	background-color: $teal;
	display: inline-flex;
}

.wpcf7 input[type="submit"] {
	box-sizing: content-box;
	padding: 1rem 1.5rem;
	width: max-content;
	display: flex;
	border: none;
	color: white;
	background-color: $teal;
}

.wpcf7 input:hover[type="submit"] {
	background-color: $dark-teal;
}
