@mixin lg-padding {
	padding: 2rem 1rem;
	@include respond-to('md'){
		padding: 2rem 4rem;
	}
	@include respond-to('lg'){
		padding: 4rem 10rem;
	}		
}

html {
	display: flex;
	justify-content: center;	
}

body {
	background-color: $light-grey;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

body, section, nav {
	max-width: 1440px;	
}

.generic-lg {
	@include lg-padding;
}

// COLORS ----
.bg-white {
	background-color: white;
	color: $dark-teal;
	a:not(.blue-btn) {
		color: $dark-teal;
	}
}

.bg-light-grey {
	background-color: $light-grey;
	color: $dark-teal;
}

.bg-purple {
	background-color: $purple;
	color: white;
}

.bg-light-teal {
	background-color: $light-teal;
	color: $dark-teal;
	a:not(.blue-btn) {
		color: $light-blue;
	}
}

.bg-teal {
	background-color: $teal;
	color: white;
	a:not(.blue-btn) {
		color: white;
	}
}

.bg-dark-teal {
	background-color: $dark-teal;
	color: white;
	a:not(.blue-btn) {
		color: white;
	}
}

.bg-yellow {
	background-color: $yellow;
	color: $dark-teal;
	a:not(.blue-btn) {
		color: $dark-teal;
	}
}