.cs-header {
	padding-bottom: 3rem;
	
	@include respond-to('lg') {
		background-image:
			url('../assets/bg-graphics/pill-red-1.png');				
		background-position:
			bottom right;		
		background-repeat: no-repeat;
	}
		
	.cs-hero {
		width: 100%;
		height: 300px;
		background-size: cover;
		
		@include respond-to('lg') {
			height: 400px;
		}
	}
	h1 {
		margin: 2rem 0;
	}
	.cs-intro {
		column-count: 1;
		@include respond-to('md') {
			column-count: 2;
			column-gap: 4rem;
		}
	}
}

.more-case-studies {
	text-align: center;
}

.csv-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;	  
	}	
}

/*-- Case Studies parent page --*/
