@mixin fcb {
	.fcb-content {
		flex-basis: 100%;
		@include respond-to('lg') {
			flex-basis: 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	.fcb-media {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
		
		@include respond-to('lg') {
			flex-basis: 50%;
		}
		img {
			object-fit: contain;
			max-height: 500px;
		}
		.fcb-video {
			height: 100%;
			width: 100%;
		}
		
		&.no-margin {
			padding: 0;
		}
		
	}

}

.content-block {
	
	&.margin {
		@include lg-padding;
	}
	
	&.no-margin {
		padding: 0;
		
	}
	
	// Background images
	@include respond-to('lg') {
		&.what-is-safe-steps {
			background-image:
				url('../assets/bg-graphics/pill-purple-1.png');				
			background-position:
				bottom left;		
			background-repeat: no-repeat;
		}
	}	
	
	
	.generic-wrapper {
		// Stacked on top of each other
		&.style1 {
			text-align: center;
			
			@include fcb;
			
			.fcb-content {
				padding: 1rem;
				@include respond-to('lg') {
					padding: 2rem 8rem 2rem 8rem;
				}
			}
		}
		
		
		// Media on right
		&.style2 {
			text-align: left;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			
			@include fcb;
			
			@include respond-to('lg') {
				flex-direction: row-reverse;		
			}
			
			&.margin {
				.fcb-media {
					padding: 1rem;
				}
				.fcb-content {
					@include lg-padding;
					@include respond-to('xxl'){
						padding: 6rem 4rem;
					}
				}				
			}
			
			&.no-margin {
				padding: 0;
				@include respond-to('lg') {
					padding-right: 0;
				}
				.fcb-content {
					@include lg-padding;
					@include respond-to('lg') {
						flex-basis: 70%;
					}
				}			
				.fcb-media {
					padding: 0;
					display: flex;
					justify-content: flex-end;
					@include respond-to('lg') {
						padding-right: 0;
						flex-basis: 30%;
					}
				}
			}
				
		}
		
		// Media on left
		&.style3 {
			display: flex;
			flex-direction: column;
			
			@include fcb;
			
			@include respond-to('lg') {
				flex-direction: row;		
			}
			
			&.margin {
				.fcb-media {
					padding: 1rem;
				}
				.fcb-content {
					@include lg-padding;
				}
			}		
			
			&.no-margin {
				padding: 0;
				@include respond-to('lg') {
					padding-left: 0;
				}
				.fcb-content {
					@include lg-padding;
					@include respond-to('lg') {
						flex-basis: 70%;
					}
				}
				.fcb-media {
					display: flex;
					justify-content: flex-start;
					@include respond-to('lg') {
						padding-left: 0;
						flex-basis: 30%;
					}				
				}
			}		
		}			
	}
}

/*-- CASE STUDY CONTENT BLOCK --*/

.csc-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	@include respond-to('lg') {
		padding-top: 8rem;
		padding-bottom: 8rem;		
	}
	&.bg-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-white-2.png');				
			background-position:
				top right;		
			background-repeat: no-repeat;		
		}
	}
	
	&.bg-light-grey {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-red-2.png'),
				url('../assets/bg-graphics/arc-cyan-3.png');				
			background-position:
				top right,
				bottom left;	
			background-repeat: no-repeat;				
		}
	}	
}

.csc-content {
	&.secondary {
		column-count: 1;
		@include respond-to('md') {
			column-count: 2;
			column-gap: 4rem;
		}
	}
	ul {
		column-count: 1;
		color: $purple;
		list-style-image: url('../assets/icons/checkmark-purple.png');
		@include _poppins-semibold;
		li {
			padding: 0.5rem 0;
		}
		@include respond-to('lg') {
			column-count: 2;
			column-gap: 4rem;
		}
	}
}