.contact-form-block {
	h2 {
		text-align: center;
	}
}

.wpcf7-form {
	width: 100%;
	margin: 2rem 0;
}


.wpcf7 {
	display: flex;
	justify-content: center;
	p {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		@include respond-to('lg') {
			flex-direction: row;
			align-items: center;
		}
		
		.your-name, .your-contact, .your-message {
			display: flex;
			flex-grow: 1;
		}		
	}	

}

.text {
	padding-right: 1rem;
	@include _fira-sans-thin;
	font-size: 1.25rem;
}

.wpcf7-list-item-label {
	padding-left: 0.5rem;
}

.wpcf7-list-item {
	width: 80px;
}

#contact-choice {
	.text {
		flex-basis: 47%;
	}
}

.submit-btn {
	display: flex;
	justify-content: center;
}

// Error
.wpcf7-form-control-wrap {
	width: 100%;
	@include respond-to('lg') {
		width: auto;
	}
}

.wpcf7 .wpcf7-not-valid-tip {
	color: white !important;
	position: absolute;
	background-color: #FC515E;
	padding: 0.25rem;
	border-radius: 5px;
	top: -20px;
	right: 0px;	
}
