@mixin icon-image($icon-height, $icon-width) {
	img {
		margin: 1rem;
		height: $icon-height;
		width: $icon-width;
		object-fit: contain;
	}	
}

.fc-icon-set {
	text-align: center;
	
	&.bg-light-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-teal-1.png');				
			background-position:
				center right;		
			background-repeat: no-repeat;
		}		
	}
}

.fcis-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}


.fcis-intro {
	padding: 0;
	@include respond-to('md') {
		padding: 0 2rem;
	}
}

.column-two {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 50%;
	}
	
	@include icon-image(100px, 100px);
}

.column-three {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 33%;
	}
	
	@include icon-image(150px, 150px);
}

.column-four {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 25%;
	}
	
	@include icon-image(150px, 150px);
}

.column-five {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 20%;
	}
	
	@include icon-image(100px, 100px);
}

.column-six {
	flex-basis: 50%;
	@include respond-to('md') {
		flex-basis: 16%;
	}
	
	@include icon-image(100px, 100px);
}