@mixin icon-image($icon-height, $icon-width) {
	img {
		margin: 1rem;
		height: $icon-height;
		width: $icon-width;
		object-fit: contain;
	}	
}

.fc-icon-set {
	text-align: center;
	
	.fcis-title {
		@include respond-to('lg') {
			padding: 1rem 10rem;
		}
	}
	
	.fcis-subtitle {
		padding: 1rem;
		@include respond-to('lg') {
			padding: 0 3rem 2rem 3rem;
		}
	}
		
	&.bg-light-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-teal-1.png');				
			background-position:
				center right;		
			background-repeat: no-repeat;
		}		
	}
	
	&.bg-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/pill-white-4.png');				
			background-position:
				center right;		
			background-repeat: no-repeat;
		}		
	}	
	
}

.fcis-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.fcis-wrapper {
	&.icon {
		@include icon-image(75px, 75px);
		@include respond-to('xxl') {
			@include icon-image(100px, 100px);
		}
	}
	&.logo {
		@include icon-image(150px, 150px);
		@include respond-to('xxl') {
			@include icon-image(200px, 200px);
		}
	}
	
}

.fcis-intro {
	display: flex;
	justify-content: center;
	padding: 0;
	@include respond-to('md') {
		padding: 0 2rem;
	}
	p {
		@include respond-to('xxl') {
			width: 80%;
		}		
	}
}

.column-two {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 50%;
	}
}

.column-three {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 33%;
	}
}

.column-four {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 50%;
	}
	@include respond-to('lg') {
		flex-basis: 25%;
	}
}

.column-five {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 20%;
	}
}

.column-six {
	flex-basis: 100%;
	@include respond-to('md') {
		flex-basis: 50%;
	}
	@include respond-to('lg') {
		flex-basis: 16%;
	}
}