.ordered-list-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
	background-size: 0;
	
	@include respond-to('lg') {
		background-size: 20%;
	}
	
	
	h2 {
		text-align: center;
		padding: 1rem;
		margin-bottom: 0;
		@include respond-to('lg') {
			padding: 2rem;
		}
	}
	
	&.bg-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-white-3.png') !important;				
			background-position:
				bottom right !important;		
			background-repeat: no-repeat !important;
		}		
	}
	&.bg-light-teal {
		@include respond-to('lg') {
			background-image:
				url('../assets/bg-graphics/arrow-teal-2.png');				
			background-position:
				top left;		
			background-repeat: no-repeat;
		}		
	}
}

.ordered-list-block-container {
	display: grid;
	flex-wrap: wrap;
	width: 100%;
	
	@include respond-to('lg') {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
 }

.unordered-list {
	flex-basis: 100%;	
	display: flex;
	justify-content: center;
	margin: 0 auto;	
	padding: 0 3rem;
	ul {
		padding: 0;
		li {
			list-style-type: none;
			display: flex;
			align-items: center;
			&:before {
				background-image: url(../assets/icons/btn-arrow-yellow.png);
				background-repeat: no-repeat;
				background-size: 20px;
				background-position: center;
				display: inline-block;
				width: 20px;
				height: 20px;
				content: "";
				margin-right: 20px;					
			}
		}
	}
}

.numbered-list {
	flex-basis: 100%;
	
	ol {
		padding: 0 3rem;
		
		li {
			font-size: 2rem;
			line-height: 1.5rem;
			margin: 2rem 0;
			max-width: 400px;
						
		}
	}
}

.icon-list {
	flex-basis: 50%;

	.icon-list-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		@include respond-to('lg') {
			flex-direction: row;
			padding: 2rem 0;
			text-align: left;
		}
		
		p {
			flex-basis: 100%;
			margin: 1rem;
			@include respond-to('lg') {
				margin: 0 0 0 2rem;
				flex-basis: 70%;
			}
		}
		
		img {
			flex-basis: 100%;
			width: 85px;
			height: 85px;
			object-fit: contain;
			@include respond-to('lg') {
				flex-basis: 20%;
			}
			@include respond-to('xxl') {
				width: 100px;
				height: 100px;
			}
		}
	}
}