@mixin quote ($sm-padding, $lg-padding, $fb)
{
	flex-basis: $fb;
	display: flex;
	padding: $sm-padding;
	flex-direction: column;
	
	@include respond-to('lg') {
		padding: $lg-padding;
	}
	
	p {
		@include _fira-sans-thin;
		font-size: 1.7rem;
		text-align: center;
		line-height: 1.5em;
		@include respond-to('lg') {
			text-align: left;
		}
	}
}

.blog {
	@include lg-padding;
}

.entry-header {
	display: flex;
	justify-content: center;
	padding: 0;
	
	@include respond-to('lg') {
		padding: 2rem 0;
		
		background-image:
			url('../assets/bg-graphics/arc-purple-1.png');
		background-position:
			top left;
		background-repeat: no-repeat;		
	}	
}

.blog-hero { 
	width: 100%;
	height: 300px;
	background-size: cover;
	
	@include respond-to('lg') {
		width: 90%;
		max-width: 1440px;
		height: 500px;
	}
}

.entry-meta {
	padding-bottom: 1rem;
	padding-top: 1rem;
	.entry-title {
		margin-bottom: 2rem;
	}
	.entry-meta-bottom {
		display: flex;
		justify-content: space-between;
		a {
			color: $teal;
		}
	}
}

.entry-category {
	a {
		margin-left: 1rem;
	}
}

/*-- CONTENT --*/
.entry-content {
	p, h1, h2, h3, h4 {
		margin-bottom: 2rem;
	}
	
	a {
		text-decoration: underline;
	}
	
	@include respond-to('lg') {
		background-image:
			url('../assets/bg-graphics/arrow-red-1.png');
		background-position:
			top right;
		background-repeat: no-repeat;	
	}
}

blockquote {
	@include quote(1rem, 5rem, 100%);
}

figure {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;
	
	img {
		object-fit: contain;
	}
	
	figcaption {
		text-align: center;
		padding: 1rem;
		font-size: 0.8rem;
	}	
}

/*-- SHARING --*/
.social-share {
	background-color: $light-grey;
	padding: 1rem;
	color: $teal;
	@include _fira-sans-semibold;
	
	@include respond-to('md') {
		padding: 1rem 4rem;	
	}
	
	@include respond-to('xxl') {
		padding: 1rem 0;
	}
	
	.generic-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.share {
		display: flex;
		align-items: baseline;
		img {
			padding: 0 0.5rem;
			height: 17px;
			object-fit: contain;
		}
	}
	
	@mixin share-btn {
		width: 25px;
		height: 25px;
		display: inline-flex;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	
	.share-btns {
		.sd-content {
			ul {
				margin: 0 !important;
				li {
					margin: 0;
				}
			}
		}
		// Twitter
		.sd-social-icon .sd-content ul li[class*="share-"].share-twitter a.sd-button {
			background-color: transparent;
		}
		
		li.share-twitter a.sd-button {
			&:before {
				content: none;
			}			
			span {
				@include share-btn;
				background-image: url('../assets/social-media/twitter-logo-teal.png');
			}
		}
		
		// Facebook
		.sd-social-icon .sd-content ul li[class*="share-"].share-facebook a.sd-button {
			background-color: transparent;
		}
				
		li.share-facebook a.sd-button {
			&:before {
				content: none;
			}				
			span {
				@include share-btn;
				background-image: url('../assets/social-media/facebook-logo-teal.png');				
			}
		}
		
		//Linkedin
		.sd-social-icon .sd-content ul li[class*="share-"].share-linkedin a.sd-button {
			background-color: transparent;
		}
				
		li.share-linkedin a.sd-button {
			&:before {
				content: none;
			}						
			span {
				@include share-btn;
				background-image: url('../assets/social-media/linkedin-logo-teal.png');				
			}
		}		
	}
}

/*-- MORE NEWS --*/
.more-news {
	text-align: center;
}