@mixin quote ($sm-padding, $lg-padding)
{
	display: flex;
	padding: $sm-padding;
	flex-direction: column;
	
	@include respond-to('lg') {
		padding: $lg-padding;
	}
	
	p {
		@include _fira-sans-thin;
		font-size: 1.7rem;
		text-align: center;
		line-height: 1.5em;
		@include respond-to('lg') {
			text-align: left;
		}
	}
}

.quote-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include respond-to('lg') {
		flex-direction: row;
	}
	@include respond-to('lg') {
		&.bg-purple {
			background-image:
				url('../assets/bg-graphics/pill-white-1.png');
				
			background-position:
				bottom right;
			
			background-repeat: no-repeat;
		}
		&.bg-yellow {
			background-image:
				url('../assets/bg-graphics/pill-teal-3.png');
				
			background-position:
				center right;
			
			background-repeat: no-repeat;			
		}
			
	}
}

.fcqb-image {
	flex-basis: 40%;
	height: 300px;
	padding: 2rem;
	@include respond-to('lg') {
		height: 400px;
		padding: 0;	
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.fcqb-quote {
	flex-basis: 60%;
	@include quote(1rem, 5rem);
}

.fcqb-citation {
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to('lg') {
		justify-content: start;	
	}
	img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}
	cite {
		padding: 0 1rem;
		font-style: normal;
	}
}

/*-- CASE STUDY QUOTE --*/

.cs-citation {
	display: flex;
	align-items: center;
	justify-content: center;
	@include respond-to('lg') {
		justify-content: end;	
	}
	img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}
	cite {
		padding: 0 1rem;
		font-style: normal;
	}
}

.cs-quote-block ~ .bg-purple {
	.cs-quote {
		flex-basis: 100%;
		@include quote(1rem, 5rem);
		p {
			text-align: center;
		}
	}
	.cs-citation {
		@include respond-to('lg') {
			justify-content: center;	
		}		
	}
}

.cs-quote-block {
	&.bg-white {
		.cs-quote {
			flex-basis: 100%;
			@include quote(1rem, 1rem);
		}
	}
}