// POSTS
.wp-block-quote {
	padding-left: 2rem;
    border-left: 1px solid $teal;
    margin: 5rem 0;
    
    @include respond-to('lg') {
	   padding-left: 5rem; 
    }
    
	p {
		@include _fira-sans-light;
	}
	
	&.is-style-large {
		margin: 5rem 0;
		padding: 0;
		border: 0;
		
		p {
			@include quote;
			@include speechmarks;
		}
		cite {
			font-style: normal;
		}
	}
}

.quote-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	
	@include respond-to('lg') {
		flex-direction: row;
	}
	
	blockquote {
		@include quote;
		@include speechmarks;
	}
	
	// Background graphics
	@include respond-to('lg') {
		&.bg-purple {
			background-image:
				url('../assets/bg-graphics/pill-white-1.png');
			background-position:
				bottom right;
			background-repeat: no-repeat;
			background-blend-mode: soft-light;
		}
		&.bg-yellow {
			background-image:
				url('../assets/bg-graphics/pill-teal-3.png');
				
			background-position:
				center right;
			
			background-repeat: no-repeat;			
		}	
	} // End background graphics
}

.quote-image {
	flex-basis: 40%;
	height: 300px;
	padding: 2rem;
	
	@include respond-to('md') {
		height: 450px;
	}
	@include respond-to('lg') {
		padding: 0;	
	}
	img {
		height: 100%;
		width: 100%;
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

		object-fit: cover;
		@include respond-to('md') {
			object-position: top;
		}
		@include respond-to('lg') {
			object-position: center;
		}
	}
}

.quote-quote {
	flex-basis: 60%;
	&.full-width {
		flex-basis: 100%;
	}
	&.half-width {
		flex-basis: 50%;
		margin: 0;
		@include respond-to('lg') {
			margin-left: 2rem;
		}
		.fcqb-citation {
			justify-content: flex-start;
		}
	}
}

.quote-citation {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 0 0;
	
	@include respond-to('lg') {
		justify-content: flex-end;
	}
	img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}
	cite {
		padding: 0 1rem;
		font-style: normal;
		text-align: right;
	}
}