.team-block {
	text-align: center;
	h2 {
		width: 100%;
	}
	@include respond-to('md') {
		background-image:
			url('../assets/bg-graphics/pill-purple-2.png');
		background-position:
			bottom left;
		background-repeat: no-repeat;		
	}	
}

.team-banner {
	text-align: center;
	@include respond-to('md') {
		background-image:
			url('../assets/bg-graphics/pill-white-2.png'),
			url('../assets/bg-graphics/arrow-white-1.png');
		background-position:
			bottom left,
			top right;
		background-repeat: no-repeat;		
	}
	p {
		margin: 0;
	}
}

.team-container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 2rem 0;
	flex-wrap: wrap;
}

.team-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 200px;
	margin: 1rem 0;
	
	@include respond-to('lg'){
		
	}
	
	.portrait {
		border-radius: 50%;
		width: 140px;
		height: 140px;
		object-fit: cover;
		border: 1px solid gray;
	}
	
	p {
		line-height: 1.8rem;
	}
	
	strong {
		margin: 1.5rem 0 0;
	}
}

.team-sm-icons {
	display: flex;
	align-items: baseline;
	color: $light-blue;
	span {
		@include _poppins-regular;
		margin-right: 0.5rem;
		line-height: 0;
		font-size: 16px;
	}
	a {
		display: flex;
		margin-right: 0.5rem;
		img {
			width: 16px;
			height: 16px;
			object-fit: contain;
			object-position: bottom;
		}
	}
}